<h3 class="page-title">
账号 <small>能够使用系统的账号</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "销售管理", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "账号", users_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= page_title %>
  </li>
</ul>