<h3 class="page-title">
订单 <small>系统中的订单</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "销售管理", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "订单", orders_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= page_title %>
  </li>
</ul>