<h3 class="page-title">
配件 <small>可选配件</small>
</h3>
<ul class="page-breadcrumb breadcrumb">
  <li>
    <i class="fa fa-home"></i>
    <%= link_to "销售管理", root_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= link_to "配件", accessories_path %>
    <i class="fa fa-angle-right"></i>
  </li>
  <li>
    <%= page_title %>
  </li>
</ul>