<% content_for :page_title do %>
<%= render "title" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="portlet box">
      <div class="dataTables_wrapper form-inline" role="grid">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="trailer_table">
            <thead>
              <tr>
                <th>名称</th>
                <th>数量</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @accessories.each do |f| %>
                <tr>
                  <td><%= f.name %></td>
                  <td><%= f.count %></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @accessories %>
        </div>
      </div>
    </div>
  </div>
</div>